body {
  overflow: hidden;
}

/*
***************************************************
*
* 1. Hidden elements
*
***************************************************
*/

/* 1.a. Background slideshow */
.bgslide {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* 1.b. Initial loading page */
#loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  font-size: 10vw;
  background-color: rgba(100, 100, 100, 1);
  color: #FFF;
}

#loadingText {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Welcome screen */
#welcome {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: #FFF;
  color: #000;
  text-align: center;
}

#welcomeInner {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#continue {
  color: #444;
  background-color: #CCC;
  margin: 15px 0;
  cursor: pointer;
  font-size: 30px;
  width: 100%;
  font-weight: normal;
  border: 2px solid #FFF;
  height: 48px;
  line-height: 48px;
  padding: 0;

  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  
  transition: color .2s, background-color .2s;
  -moz-transition: color .2s, background-color .2s;
  -webkit-transition: color .2s, background-color .2s;
  -ms-transition: color .2s, background-color .2s;
}

#continue:hover {
  color: #AAA;
  background-color: #444;
}

/* 1.c. General-purpose alert splash div */
#splashAlert {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3000;
}

#splashAlertIcon {
  color: #FF0000;
  font-size: 10vw;
}

#splashAlertContent {
  position: absolute;
  max-width: 500px;
  top: 50%;
  left: 50%;
  color: #FFF;
  font-size: 3vh;
  text-align: center;
  
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#iunderstand {
  color: #FFF;
  width: 100%;
  font-size: 30px;
  font-weight: normal;
  border: 2px solid #FFF;
  height: 48px;
  line-height: 48px;
  margin: 15px 0;
  padding: 0;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  
  transition: color .2s, background-color .2s;
  -moz-transition: color .2s, background-color .2s;
  -webkit-transition: color .2s, background-color .2s;
  -ms-transition: color .2s, background-color .2s;
}

#iunderstand:hover {
  color: #000;
  background-color: #FFF;
}




/*
***************************************************
*
* 2. Visible elements
*
***************************************************
*/

/* 2.a. Top bar */
#topBar {
  width: 100%;
  text-align: center;
  z-index: 1001;
  color: #FFF;
}

#topBarInner {
  overflow: hidden;
  
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
}

#topBarInner .logo, #topBarInner button {
  margin: 5px 0;
  vertical-align: middle;
}

.option {
  color: #FFF;
}

.option:visited {
  color: #FFF;
  border-color: #FFF;
}

.option:focus, .option:hover {
  color: #FBFBFB;
  border-color: #FBFBFB;
}

.option * {
  display: inline;
}

.logo {
  display: inline-block;
}

#menuToggle {
  font-size: large;
  cursor: pointer;
  color: #EEE;
}

#menuToggle:hover, #menuToggle:focus {
  color: #FFF;
}



/* 2.b. Main page container */
#container{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}



/* 2.c. Search pane */
#searchColumn {
  float: left;
}
#searchContainer {
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 998;
  background: transparent;
}

#searchSubContainer {
  background-color: rgba(210, 210, 210, 0.9);
}

.searchWrapper {
  display: none;
  padding: 10px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#searchPane {
  margin: 0;
  padding: 0;
}

#invertSearch {
  display: block;
  width: 100%;
  font-size: large;
  overflow: hidden;
  
  color: #444;
  background-color: rgba(230, 230, 230, 1.0);
  border: none;
  margin: 0;
  font-weight: bold;
  
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
}

#invertSearch:hover, #invertSearch:focus {
  color: #000;
  background-color: rgba(240, 240, 240, 1.0);
}

#paneToggler {
  display: block;
  width: 100%;
  color: #EEE;
  border: none;
  margin: 0;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
}

#paneToggler i {
  font-size: xx-large;
}

#paneToggler:hover, #paneToggler:focus {
  color: #FFF;
}

#allAny {
  background-color: #DDD;
  padding: 5px;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
}

#allAny * {
  vertical-align: middle;
  margin-bottom: 0;
}

#setJoin {
  display: inline-block;
}

#setJoin label {
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#wtHeader {
  display: inline-block;
  cursor: pointer;
  color: #555;
  margin-left: 10px;
}

#wtMsg {
  display: none;
  width: 100%;
}



/* 2.c.i. Special styles for selected items in search by program */
#searchSelected {
  margin: 0;
  padding: 0;
}

.searchSelItem {
  position: relative;
  display: none;
  margin: 2px;
  overflow: hidden;
}

.searchSelItem a {
  display: block;
  width: inherit;
  background-color: rgba(230, 230, 230, 1.0);
  padding: 5px 2.5em 5px 5px;
  outline: none;
}

.searchSelItem a:hover, .searchSelItem a:focus {
  background-color: rgba(240, 240, 240, 1.0);
}

.searchEx {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2em;
  padding: 0;
  margin: 0;
  color: #FFF;
  background-color: rgba(220, 220, 220, 1.0);
  cursor: pointer;
}

.searchEx:hover, .searchEx:focus {
  background-color: rgba(180, 180, 180, 1.0);
}

.searchLink {
  color: #444;
  text-decoration: none;
  display: block;
  width: 100%;
}

.searchLink:hover, .searchLink:focus {
  color: #000;
}

.exTextDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}









/* 2.d. Display pane */
#displayColumn {
  float: right;
  background-color: rgba(255, 255, 255, 0.9);
}

#displayViewport {
  max-height: 100vh;
  overflow-y: auto;
}

#displayContainer {
  padding: 10px;
}

.displayWrapper {
  display: none;
  width: 100%;
  padding-bottom: 100px;
}

#disclaimer {
  font-size: small;
  color: #FFF;
    
  padding: 10px;
  margin-bottom: 1em;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
}

.displayHeader {
  cursor: pointer;
}

.displayHeader:hover, .displayHeader:focus {
  color: #777777;
}

.displayDescr {
  color: #222;
  background-color: #E1E1E1;
  
  padding: 10px;
  margin-bottom: 1em;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
}

#joinDescr {
  font-weight: bold;
}

.displayCategory h2 {
  cursor: pointer;
}

.displayCategory h2:hover, .displayCategory h2:focus {
  color: #777777;
}

.displayCategoryContainer {
  overflow: hidden;
}

.displayItem{
  display: block;
}

.displayItem a{
  color: #777;
  text-decoration: none;
  letter-spacing: 0;
  transition: letter-spacing 0.3s;
  -moz-transition: letter-spacing 0.3s;
  -webkit-transition: letter-spacing 0.3s;
  -ms-transition: letter-spacing 0.3s;
  outline: none;
}

.displayItem:hover a, .displayItem a:focus {
  color: #444;
  letter-spacing: 3px;
}

.displayItem.active a{
  color: #555;
  font-weight: bold;
}

.displayItem.active:hover a, .displayItem.active a:focus {
  color: #000;
}

.ballot {
  display: inline;
  color: #FF0000;
  font-weight: bold;
  text-decoration: none;
}

.ballot.hide {
  display: none;
}

.check {
  display: inline;
  color: #00CC00;
  font-weight: bold;
  text-decoration: none;
}

.check.hide {
  display: none;
}


/* 2.e. Feedback pane */
#feedbackContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 997;
  
  font-size: small;
  text-align: center;
  
  width: 10em;
  
  overflow: hidden;
}

#feedbackTitle {
  color: #EEE;
  font-weight: bold;
  width: 100%;
  border: none;
  margin: 0;
  
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
}

#feedbackTitle:hover, #feedbackTitle:focus {
  color: #FFF;
}

#feedbackContentWrapper {
  display: none;
  padding: 5px;
  color: #000;
  background-color: #EEEEEE;
}





/*
***************************************************
*
* 3. Media queries
*
***************************************************
*/

@media (min-width:400px){
  #searchColumn {
    width: 50%;
  }
  #searchContainer {
    max-width: 333px;
  }
  #displayColumn {
    width: 50%;
  }
}

@media (min-width: 550px) {
  .helpPage {
    max-width: 50vw;
    max-height: 50vh;
  }
}

@media (min-width: 800px) {
  #searchColumn {
    width: 33.33%;
  }
  #displayColumn {
    width: 66.67%;
  }
}

@media (max-width: 399px) {
  #searchColumn {
    width: 100%;
    margin: auto;
  }
  #displayColumn {
    width: 100%;
  }
  #disclaimer {
    margin-top: 3em;
  }
  #feedbackContainer {
    display: none;
  }
}