/*
***************************************************
*
* 1. Global styles
*
***************************************************
*/

body {
  font-family: 'Questrial', sans-serif;
  background-image: url('../images/bg/white_bg.jpg');
  background-repeat: repeat;
}

h1, h2, h3, h4 {
  color: #555555;
  text-transform: uppercase;
  border: none;
}

h1:focus, h2:focus, h3:focus, h4:focus, div:focus {
  outline: none;
}

h1 span, h2 span, h3 span, h4 span {
  vertical-align: text-top;
}

.block {
  width: 100%;
  display: block;
}

.col1 {
  color: #AAA;
}

.col1-light {
  color: #CCC;
}

.col1-dark {
  color: #777;
}

.col2 {
  color: #444;
}

.col2-light {
  color: #666;
}

.col2-dark {
  color: #000;
}

.bg-col1 {
  background-color: #AAA;
}

.bg-col1-light {
  background-color: #CCC;
}

.bg-col1-dark {
  background-color: #777;
}

.bg-col2 {
  background-color: #444;
}

.bg-col2-light {
  background-color: #666;
}

.bg-col2-dark {
  background-color: #000;
}




/*
***************************************************
*
* 1. Common elements
*
***************************************************
*/

/* 1.a Collapsers */
.collapserGroup {
  display: inline-block;
}

.collapser {
  position: relative;
  display: inline-block;
  height: 1em;
  width: 1em;

  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  z-index: 0;
}

.plus {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate3D(-50%, -50%, 0);
  -moz-transform: translate3D(-50%, -50%, 0);
  -webkit-transform: translate3D(-50%, -50%, 0);
  -ms-transform: translate3D(-50%, -50%, 0);
}

.minus {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate3D(-50%, -50%, 0);
  -moz-transform: translate3D(-50%, -50%, 0);
  -webkit-transform: translate3D(-50%, -50%, 0);
  -ms-transform: translate3D(-50%, -50%, 0);
}