/*
***************************************************
*
* 1. Global styles
*
***************************************************
*/

body {
  font-family: 'Questrial', sans-serif;
  background-image: url('../images/bg/white_bg.jpg');
  background-repeat: repeat;
}

h1, h2, h3, h4 {
  color: #555555;
  text-transform: uppercase;
}

h1 span, h2 span, h3 span, h4 span {
  vertical-align: text-top;
}

.block {
  width: 100%;
  display: block;
}